<div class="col-11">
    <div class="title text-center col-12 text-uppercase">
        <h1>Add Shop</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <form class="">
                <div class="form-group">
                    {{input type="text" class="form-control" value=name id="shopName" placeholder="Name"}}
                </div>

                <div class="btn-group d-flex justify-content-end">
                    {{#link-to "shops"}}
                        <button {{action "createShop"}}
                            class="btn btn-primary mr-2"
                            disabled={{isAddButtonDisabled}}>
                            Add
                        </button>
                    {{/link-to}}

                    {{#link-to "shops"}}
                        <button {{action "discardChanges"}} class="btn btn-secondary">Cancel</button>
                    {{/link-to}}
                </div>
            </form>
        </div>
    </div>
</div>
